<?xml version="1.0" ?>
<launch>
    <arg name="folder_" default="Day10"/>
    <!--node to start recording gps data-->
    <node name="gps_recorder_node" pkg="gps_recorder" type="gps_recorder_node" output="screen">
      <param name="folder_name_" type="string" value="$(arg folder_)"/>
    </node>
</launch>